{% extends "base.html" %}
{% load static %}
{% block title %}Каталог книг по дате{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1><a href="/books">Каталог</a></h1>
    </div>
    <div class="row">
        {% for book in books %}
        <div class="book col-md-4">
            <a href="{% url 'books_pub_date' book.pub_date %}">
                <h2>{{ book.name }}</h2>
            </a>
            <p>Автор: {{ book.author }}</p>
            <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p><br>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if previous_date %}
        <a class="button button-primary" href="{% url 'books_pub_date' previous_date %}">
            < {{ previous_date|date:"Y-m-d" }} </a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;
        {% if next_date %}
        <a class="button button-primary" href="{% url 'books_pub_date' next_date %}">
            {{ next_date|date:"Y-m-d" }} ></a>
        {% endif %}
    </div>
</div>
{% endblock %}
